
<p></p>
<h2>Register Animal</h2>
<% if @owners != nil && @vets != nil %>
  <form class="list" action="/animals" method="POST">
    <fieldset>

      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name" required>

      <label for="type">Type</label>
      <input type="text" name="type" placeholder="Type" required>

      <label for="dob">DoB</label>
      <input type="date" name="dob" placeholder="DD/MM/YY" required>

      <label for="vet_id">Vet</label>
      <select name="vet_id" required>
        <% if @vets != nil %>
        <option value="">--Please choose an option--</option>
          <% for vet in @vets %>
          <option value="<%= vet.id %>"><%= vet.full_name %></option>
          <% end %>
        <% end %>
      </select>

      <label for="owner_id">Owner</label>
      <select name="owner_id" required>
        <% if @owners.kind_of?(Array) %>
          <option value="">--Please choose an option--</option>
          <% for owner in @owners %>
             <option value="<%= owner.id %>">
              <%= owner.full_name %></option>
          <% end %>
        <% else %>
          <option value="<%= @owners.id %>"selected"><%= @owners.full_name %></option>
        <% end %>
      </select>

      <input class="btn cell" type='submit' value="Add">
    </fieldset>

  </form>
<% else %>

  <h2 class="warning_msg">No owners and/or vets in database to register animals to</h2>

<% end %>

<p></p>
<div class="list">
  <a class="item_select cell" href="/animals">
      <label for="">Cancel</label>
  </a>
</div>
