<h1><%= @animal.name %></h1>

<div class="display_list">

  <img src="" alt="">
  <table class="cell">
    <tr>
      <th>Type</th>
      <td><%= @animal.type %></td>
    </tr>
    <tr>
      <th>DOB</th>
      <td><%= @animal.dob %></td>
    </tr>
    <tr>
      <th>Vet</th>
      <td><%= @animal.vet().full_name %></td>
    </tr>
    <tr>
      <th>Owner Name</th>
      <td><%= @animal.owner_name %></td>
    </tr>
    <tr>
      <th>Owner Tel No</th>
      <td><%= @animal.owner_tel_no %></td>
    </tr>
    <tr>
      <th>Owner Address</th>
      <td><%= @animal.owner_address %></td>
    </tr>
    <tr>
      <th>Treatment Notes</th>
      <td><%= @animal.treatment_notes%></td>
    </tr>
  </table>

    <a class="item_select cell" href="/animals/<%= @animal.id %>/edit">
        <label for="">Edit</label>
    </a>
    <a class="item_select cell" href="/animals/remove/<%= @animal.id %>">
        <label for="">Remove</label>
    </a>


</div>
