<p></p>

<h2>Edit Treatment Information</h2>
<h2>Animal: <%= @treatment.animal().name%></h2>

<form class="list" action="/treatments/<%= @treatment.id %>" method="POST">
  <fieldset>

    <!-- id for treatment is required but is hidden from user so they dont edit it -->
    <input type="text" name="animal_id" value="<%= @treatment.animal_id %>" hidden>
    <input type="text" name="id" value="<%= @treatment.id %>" hidden>

    <label for="details">Treatment Details</label>
    <textarea name="details" rows="8" cols="40" required><%= @treatment.details %></textarea>

    <label for="bill">Cost</label>
    <input type="currency" name="bill" value="<%= @treatment.bill %>" required>

    <label for="paid">Bill Paid</label>
    <select name="paid" id="paid">
      <option value="0"<% if @treatment.paid == 'f'%><%= p "selected" %> <% end %>>No</option>
      <option value="1"<% if @treatment.paid == 't'%><%= p "selected" %> <% end %>>Yes</option>
    </select>

    <label for="tr_date">Date</label>
    <input type="date" name="tr_date" value="<%= @treatment.tr_date %>" required>

    <input class="btn cell" type='submit' value="Update">
  </fieldset>


</form>
<p></p>
<div class="list">
  <a class="item_select cell btn_warning" href="/treatments/remove/<%= @treatment.id %>">
      <label for="">Delete</label>
  </a>
  <a class="item_select cell" href="/treatments/animal/<%= @treatment.animal_id %>">
      <label for="">Cancel</label>
  </a>
</div>
