<p></p>
<h1>Search Results</h1>
<p></p>
<section class="container con-col">

<h2 class="container_text capitals">Search Type: <%= @type%></h2>
<h3 class="container_text">Query: <%= @query%></h3>



<!-- We check to see if results returns nil meaning no resuls found -->
<% if @results != nil %>
<h3 class="container_text"> No of results: <%= @results.size%></h3>
<p></p>
<div class="list">
  <!-- If there are any results we then check to see what type of object was
       returned create a table for that object-->
  <% class_type =  @results.first().class().name %>
  <% case class_type
    when "Owner"%>
    <% for owner in @results %>
      <a class="item_select cell" href="/owners/<%= owner.id %>">
          <h3 class="capitals"> <%= owner.full_name %> </h3>
      </a>
    <% end %>
  <% when "Animal"%>
    <% for animal in @results %>
      <a class="item_select cell" href="/animals/<%= animal.id %>">
          <h3 class="btn_title capitals"> <%= animal.name %> </h3>
          <h3 class="btn_title capitals"> <%= animal.type %> </h3>
      </a>
    <% end %>
  <% when "Vet"%>
  <% for vet in @results %>
    <a class="item_select cell" href="/vets/<%= vet.id %>">
        <h3 class="btn_title capitals"> <%= vet.full_name %> </h3>
    </a>
  <% end %>
  <% else %>
    <%= p 'Error: Unknown search type!' %>
  <% end %>
</div>


<% else %>
<p></p>
<h3 class="warning_msg">Found no results</h3>
<% end %>
<p></p>
<a class="item_select cell" href="/search">
    <label for="">Search Again</label>
</a>

</section>
