<p></p>
<h1>Search Results</h1>
<p></p>
<section class="container con-col">

<h2 class="container_text">Search Type: <%= @type%></h2>
<h2 class="container_text">Query:<%= @query%></h2>


<!-- We check to see if results returns nil meaning no resuls found -->
<% if @results != nil %>

<!-- If there are any results we then check to see what type of object was
     returned create a table for that object-->
<% class_type =  @results.first().class().name %>
<% case class_type
when "Owner"%>
  <%= p 'owner'  %>
  <% when "Animal"%>
  <%= p 'animal'  %>
  <% when "Vet"%>
  <%= p 'vet'  %>
  <% else %>
  <%= p 'unknown class' %>
<% end %>


<% else %>
<p></p>
<p>Found no results</p>
<% end %>


</section>
