<p></p>

<h2>Edit Appointment Details</h2>
<h2 class="capitals">Vet Name: <%= @appointment.vet().full_name %></h2>
<h2 class="capitals">Animal Name: <%= @appointment.animal().name %></h2>

<form class="list" action="/appointments/<%= @appointment.id %>" method="POST">
  <fieldset>

    <!-- id for animal, vet and appointment is required but is hidden from user so they dont edit it -->
    <input type="text" name="animal_id" value="<%= @appointment.animal_id %>" hidden>
    <input type="text" name="id" value="<%= @appointment.id %>" hidden>
    <input type="text" name="vet_id" value="<%= @appointment.vet_id %>" hidden>

    <label for="app_date">Date</label>
    <input type="date" name="app_date" value="<%= @appointment.app_date %>" min="<%= Date.today %>" required>

    <label for="app_time">Time</label>
    <input type="time" name="app_time" value="<%= @appointment.app_time %>" required>

    <label for="notes">Notes</label>
    <textarea name="notes" rows="8" cols="40"><%= @appointment.notes %></textarea>


    <input class="btn cell" type='submit' value="Update">
  </fieldset>


</form>
<p></p>
<div class="list">
  <a class="item_select cell" href="/appointments/remove/<%= @appointment.id %>">
      <label for="">Delete</label>
  </a>
  <a class="item_select cell" href="/appointments">
      <label for="">Cancel</label>
  </a>
</div>
