
<p></p>
<h1>Appointments List</h1>

<p></p>
<section class="container">

  <% if @appointments != nil %>
    <table class="table_container">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Animal Name</th>
        <th>Animal Type</th>
        <th>Vet Name</th>
        <th>Click For Details</th>
      </tr>
      <!-- We cycle through all the appointments -->
      <% for appointment in @appointments %>
        <tr>
          <td><%= appointment.get_app_date() %></td>
          <td><%= appointment.app_time[0,5] %></td>
          <td class="capitals"><%= appointment.animal().name %></td>
          <td class="capitals"><%= appointment.animal().type %></td>
          <td class="capitals"><%= appointment.vet().full_name() %></td>
          <td><a href="appointments/<%= appointment.id %>">Details</a></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h3 class="warning_msg">No appointments in system</h3>
  <% end %>

</section>
<p></p><p></p>
