
  <form class="" action="/checkings/<%= @animal.id %>" method="POST">
    <fieldset>
      <legend>Checking Details</legend>
      <!-- <h3>Check In/Out</h3> -->
      <!-- id for animal is required but is hidden from user so they dont edit it -->
      <input type="text" name="id" value="<%= @animal.id %>" hidden>

      <label for="name">Animal Name</label>
      <input type="text" name="first_name" value="<%= @animal.name %>" disabled>

      <label for="name">Check In Date</label>
      <input type="date" name="check_in" value="<%= @animal.checking().check_in %>">

      <label for="name">Check Out Date</label>
      <input type="date" name="check_out" value="<%= @animal.checking().check_out %>">

    </fieldset>
    <input class="btn" type='submit' value="Update">

    <a class="btn_normal" href="/checkings/remove/<%= @animal.id %>">
        <label for="">Clear Checking</label>
    </a>

  </form>
