<form class="" action="/owners/<%= @owner.id %>" method="POST">
  <fieldset>
    <h3>Edit Details</h3>

    <label for="first_name">First Name</label>
    <input type="text" name="first_name" placeholder="First Name" value="<%= @owner.first_name %>">

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" placeholder="Last Name" value="<%= @owner.last_name %>">

    <label for="address">Address</label>
    <input type="text" name="address" placeholder="Address" value="<%= @owner.address %>">

    <label for="tel_no">Tel No</label>
    <input type="text" name="tel_no" placeholder="Tel No" value="<%= @owner.tel_no %>">

    <label for="registered">Registered</label>
    <select class="" name="registered">
      <option value="0" <% if @owner.registered == 'f' %> <%= p "selected "%> <% end %>>No</option>
      <option value="1" <% if @owner.registered == 't' %> <%= p "selected "%> <% end %>>Yes</option>
    </select>

  </fieldset>
  <input class="btn" type='submit' value="Update">
</form>
