
<h1><%= @owner.full_name %></h1>

<section class="container con-col">

    <table class="cell">
      <tr>
        <th>Address</th>
        <td><%= @owner.address %></td>
      </tr>
      <tr>
        <th>Tel No</th>
        <td><%= @owner.tel_no %></td>
      </tr>
      <tr>
        <th>Registered</th>
        <% if @owner.registered == 't' %>
          <td>
          <%= p "Yes" %>
        <% else %>
          <td class="<%= p "warning_msg"%>">
          <%= p "No" %>
        <% end %>
        </td>
      </tr>
    </table>


    <p></p>

    <% if @owner.registered == 't' %>
      <a class="item_select cell" href="/animals/new/<%= @owner.id %>" >
          <label for="">Add Animal</label>
      </a>
    <% end %>

    <p></p>

    <a class="item_select cell" href="/owners/<%= @owner.id %>/edit">
        <label for="">Edit Owner Details</label>
    </a>
    <a class="item_select cell btn_warning" href="/owners/remove/<%= @owner.id %>">
        <label for="">Delete Owner</label>
    </a>

    <p></p>

    <a class="item_select cell" href="/owners">
        <label for="">Back to List</label>
    </a>

</section>


<h2 class="btn_title">Owner of:</h2>

<section class="container">
  <% if @animals != nil %>
    <% for animal in @animals %>
      <a class="item_select cell" href="/animals/<%= animal.id %>">
          <h2> <%= animal.name %> </h2>
          <p> <%= animal.type %> </p>
          <img src="" alt="">
      </a>
    <% end %>
  <% else %>
  <h2 class="warning_msg">Doesn't have any pets in system.</h2>
  <% end %>
</section>
