<h1><%= @owner.full_name %></h1>

<section class="list">
  <!-- <div class="list"> -->
    <a class="item_select cell" href="/owners/<%= @owner.id %>/edit">
        <label for="">Edit</label>
    </a>
    <a class="item_select cell" href="/owners/remove/<%= @owner.id %>">
        <label for="">Remove</label>
    </a>
  <!-- </div> -->
</section>

<h2>Owner of:</h2>
<section class="list">
  <% if @animals != nil %>
    <% for animal in @animals %>
      <a class="item_select cell" href="/animals/<%= animal.id %>">
          <h2> <%= animal.name %> </h2>
          <p> <%= animal.type %> </p>
          <img src="" alt="">
      </a>
    <% end %>
  <% else %>
  <h2 class="warning_msg" >Doesn't have any pets in system.</h2>
  <% end %>
</section>
